<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Assign Task</title>
  </head>
  <body><center>
    <table>
      <tr>
        <th>Employee</th>
        <th>Task</th>
        <th></th>
      </tr>
      <tr>
        <form class="" action="index.html" method="post">
          <td>
          <select class="" name="">
            <option value="">Dummy 1</option>
            <option value="">Dummy 2</option>
            <option value="">Dummy 3</option>
            <option value="">Dummy 4</option>
            <option value="">Dummy 5</option>
            <option value="">Dummy 6</option>
            <option value="">Dummy 7</option>
            <option value="">Dummy 8</option>
          </select>
          </td>
          <td>
          <select class="" name="">
            <option value="">Dummy 1</option>
            <option value="">Dummy 2</option>
            <option value="">Dummy 3</option>
            <option value="">Dummy 4</option>
            <option value="">Dummy 5</option>
            <option value="">Dummy 6</option>
            <option value="">Dummy 7</option>
            <option value="">Dummy 8</option>
          </select>
          </td>
          <td>
          <input type="submit" name="" value="Add">
          </td>
        </form>
      </tr>
    </table>
  </center></body>
</html>