<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Employee List</title>
  </head>
  <body><center>
    <table border='1' style='text-align: center'>
      <tr>
        <th>No</th>
        <th>Employee</th>
        <th></th>
      </tr>
      <% let count = 1 %>
      <% dataUsers.forEach(function(user){ %>
        <tr>
          <td><%= count %></td>
          <td><%= user.name %></td>
          <td><a href="/users/report/<%= user.id %>/employee">Details</a></td>
          <% count++ %>
        </tr>
      <% }) %>
    </table>
  </center></body>
</html>