<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>Email</th>
        <th>password</th>  
      </tr>
      <tr>
        <form class="" action="/login" method="post">
          <td><input type="text" name="email" placeholder="Email"></td>
          <td><input type="text" name="password" placeholder="Password"></td>
        </form>
      </tr>  
    </table>
  </body>
</html>