<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Owner Report</title>
  </head>
  <body><center>
    <form class="" action="index.html" method="post">
      <p>Date From: <input type="date" name="" value=""> &nbsp Date Until: <input type="date" name="" value=""> &nbsp <input type="submit" name="" value="Search"></p>
    </form>
  </center></body>
</html>