<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Edit</title>
  </head>
  <body><center>
    <h1>Role</h1>
    <form class="" action="/users/<%= dataUser.id %>/profile/edit" method="post">
      <table>
        <tr>
          <th>Name: </th>
          <td><input type="text" name="name" value="<%= dataUser.name %>"></td>
        </tr>
        <tr>
          <th>Email: </th>
          <td><input type="text" name="email" value="<%= dataUser.email %>"></td>
        </tr>
        <tr>
          <th>Password: </th>
          <td><input type="password" name="password" value="<%= dataUser.password %>"></td>
        </tr>
      </table>
      <br>
      <input type="submit" name="" value="Save">
    </form>
  </center></body>
</html>