<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Task View</title>
  </head>
  <body><center>
    <h2>Today Task</h2>
    <fieldset style='width: 20%'>
    <h3>Task Dummy</h3>
    <p>Estimated Time in minutes</p>
  </fieldset>
  <br>
    <form class="" action="index.html" method="post">
      Status: <select class="" name="">
        <option value="">Idle</option>
        <option value="">On Progress</option>
        <option value="">Done</option>
      </select>
      <br><br>
      <input type="submit" name="" value="Apply">
    </form>
  </center></body>
</html>