<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Task View</title>
  </head>
  <body><center>
    <h2>Today Task</h2>
    <fieldset style='width: 20%'>
      <h3>Please wait for another task</h3>
      <p>(refresh this page every 1 minute)</p>
  </fieldset>
  <br>
  </center></body>
</html>